#felsorolas{
    margin: auto;
    width: 70%;
    margin-bottom: 2em;
}

main .row{
    height: 25em;
    overflow-y: hidden;
    overflow-x: scroll;
}

form{
    text-align: left;
}

form button{
    float: right;
}

#sub{
    margin: auto;
    width: 38em;
}

.card{
    width: 20em;
}

#szoveg{
    height: 3em;
    overflow: hidden;
}

.container{
    margin: auto;
    text-align: center;
}

#borito{
    height: 30em;
    width: auto;
    margin: auto;
    margin-top:2em;
}

h2{
    text-align: center;
    font-weight: bold;
}

hr{
    width:  85%;
    margin:auto;
}