.container:first-child{
    margin: auto;
    width:70%;

}

form{
    padding: 10px;
}

main{
    margin-bottom: 5em
}

.socials{
    width: 60%;
    height: fit-content;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.socials img{
    height: 30px;
    width: auto;
    filter: grayscale(0.1);
}

footer{
    position: relative;
    bottom: 0;
    margin-top: 5em;
    margin-bottom: 0    ;
}

@media (max-width: 1500px){
    footer{
        position: absolute;
    }
}